body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 950;
    font-size: 65px;
    text-align: center;
    background-color: #CAE7DF;

}

h2 {
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    background-color: #CAE7DF;

}

h3 {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    background-color: #CAE7DF;

}

body {
    background-color: lightgray;
    font-size: 18px;
    text-align: center;
}

.page {
    width: 1000px;
    background-color: beige;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2, h3,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
    width: 300px;
}

.description-left {
    padding-right: 20px;
	width: 300px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}
